/*────────── Toolbar ──────────*/

.mobile-toolbar {
    width: calc(100% - 2 * var(--size-4-2));
    background: transparent;
    margin: calc(-1 * var(--size-2-3)) var(--size-4-2) var(--size-4-2) var(--size-4-2);
}

.mobile-toolbar-spacer {
    display: none;
}
